

.heroBanner .carousel-inner img {
     /* Ensures the image fills the entire viewport height */
    object-fit: contain; /* Ensures the image covers the container without distortion */
    object-position: bottom; /* Centers the image within the container */
    
    
}
.rooms{
    justify-content: space-evenly;
}

.rooms-bc{
    background-color: #1b1b5e!important;
    color: aliceblue!important;
   
}
.rooms-bc:hover{
    background-color: #000000!important;
    color: aliceblue!important;
}
.availability-form{

    margin-top: -20px;
    position: relative;
    z-index: 6;
}
.custom-bc1{
    background-color: rgb(27, 27, 94) !important;
    color: white !important;
    border-width: 2px !important;
}
.custom-bc1:hover{
    background-color: black !important;
    color: #ffff !important;
}

.heroBanner .carousel-inner img {
    height: 100vh;
    object-fit:cover;
    object-position: center; /* This centers the image vertically and horizontally */
}

.heroBanner header {
    top: 0;
    left: 0;
    width: 100%;
    background-image: linear-gradient(180deg, rgb(0, 0, 0), #1b1b5e);
    position: static;
    z-index: 5;
    
}

.modal-backdrop {
    z-index: 1 !important; /* Set your desired z-index value */
}

@media (max-width: 767px) {
    .heroBanner header {
        background-color:rgb(27, 27, 94);
        margin-top: -20px;
        position: static; /* Removes the fixed position */
        z-index: 1; /* You can adjust the z-index if necessary */ /* Hides the header completely */
    }
}
